<div class="form-header">
      <h2>Demo form</h2>
  </div>
  
  <form method="post" action="/form" novalidate>
    <div class="form-field">
      <label for="message">Name</label>
      <textarea class="input" id="message" name="message" rows="4" autofocus></textarea>
    </div>
    <div class="form-field">
      <label for="email">Email</label>
      <input class="input" id="email" name="email" type="email" />
      
    </div>
    <div class="form-field">
        <label for="gpa for ssc">Email</label>
        <input class="input" id="sscgpa" name="sscgpa" type="number" />
        
      </div>
      <div class="form-field">
        <label for="email">hsc gpa</label>
        <input class="input" id="hscgpa" name="hscgpa" type="number" />
        
      </div>
    <div class="form-actions">
      <button class="btn" type="submit">Send</button>
    </div>
  </form>
  