<p class="w3-large">
  <b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b>
</p>
<% for(let i = 0; i<skills.length; i++){ %>
<p><%= skills[i]["skill"] %></p>
<div class="w3-light-grey w3-round-xlarge w3-small">
  <div
    class="w3-container w3-center w3-round-xlarge w3-teal"
    style="width: <%=skills[i]["percentage"]%>%""
  >
  <%= skills[i]["percentage"] %>%
  </div>
</div>
<%}%>