<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books</title>
  </head>
  <body>
    <div class="form-group">
    <form class="form-control" method="POST" action="/sendChat">
      <label for="sender">Sender
        <select class="form-select" aria-label="Default select example" name="sender">
            <option selected>Open this select menu</option>
            <%  var options = ["Fantasy", "Horror", "Romance", "Sci-Fi", "Thriller"];
            for(let i=0; i<squeakers.length; i++){%>
                <option value="<%=squeakers[i].name%>"><%=squeakers[i].name%></option>
        <%}%>
          </select>
    </label>
        <br/>   
        <label for="receiver">Receiver
            <select class="form-select" aria-label="Default select example" name="receiver">
                <option selected>Open this select menu</option>
                <%  var options = ["Fantasy", "Horror", "Romance", "Sci-Fi", "Thriller"];
                for(let i=0; i<squeakers.length; i++){%>
            <option value="<%=squeakers[i].name%>"><%=squeakers[i].name%></option>
            <%}%>
              </select>
    </label>
        <br/>
        <label for="message">Message
        <input type="text" id="message" name="message" />
        </label>
        <br/>
        <input type="submit" value="Add book" />
        
    </form>
</div>
  </body>
</html>
